   body{
      background-image: linear-gradient( #FFFFFF, #51907E);
    
      margin: 0;
      padding: 0;
    }

    /* {navbar css} */

    li {
      display: inline;
    }
    li {
      float: right;
    }

    .navbar-brand {
      margin-top: 6px;
    }

    li a {
      display: block;
      color: rgba(194, 255, 231, 0.829);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a {
      display: block;
      padding: 8px;
      float: left;
      color: rgba(166, 248, 215, 0.973);
      font-size: 20.2px;
      font-family: Satisfy;
    }


    ul {
      width: 100vw;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-image: linear-gradient(rgba(128, 128, 128, 0.747), lightblue);
    }

    li a:hover {
      background-color: rgba(255, 255, 255, 0.322);
    }

    .active {
      background-color: rgba(173, 216, 230, 0.466);
    }

    /* {navbar css ends} */

        /* {grid css starts} */

    .grid {
      height: 100vh;
      width: 100vw;

      display: grid;

      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: 1fr 1fr; */

      grid-template-areas: 
        "header header"
        "main main ";

      grid-gap: 10px;


    }

    /* {grid css ends} */


    /* {main css starts...} */

     h1 {
      font-family: NatureSpiritRegular;
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.651);
      font-size: 37px;
  
    }

    .main {
      grid-area: main;
      background-color: lightblue;
      height: 450px;
      width: 750px;
      margin-left: 275px;
      
      
    }

    p{
      font-family: Signika;
      margin-left: 20px;
      margin-top: 30px;
      font-size: 20px;
    }

    /* {main css ends...} */

    /* {social icons starts} */

    i {
      margin-top: 10px;
    }

     /* {social icons ends} */


      @media screen and (min-width: 736px) {
      .grid {
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      /* grid-template-rows: 1fr 1fr 1fr 1fr;  */
      grid-template-areas: "header header" "main main";
    }

    /* {fonts for htmls starts} */

    @font-face {
      font-family: NatureSpiritRegular;
      src: url(../fonts/NatureSpiritRegular.otf)
    }

    @font-face {
      font-family: Signika;
      src: url(../fonts/Signika-Regular.ttf)
    }

    @font-face {
      font-family: Satisfy;
      src: url(../fonts/Satisfy-Regular.ttf)
    }

    @font-face {
      font-family: Balsamiq;
      src: url(../fonts/BalsamiqSans-Regular.ttf)
    }

    .Signika {
      font-family: Signika;
    }
    }
  /* {fonts for htmls ends} */