body{
      background-image: linear-gradient( #FFFFFF, #51907E);
    
      margin: 0;
      padding: 0;
    }

    /* {navbar css} */

    li {
      display: inline;
    }
    li {
      float: right;
    }

    .navbar-brand {
      margin-top: 6px;
    }

    li a {
      display: block;
      color: rgba(194, 255, 231, 0.829);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    a {
      display: block;
      padding: 8px;
      float: left;
      color: rgba(166, 248, 215, 0.973);
      font-size: 20.2px;
      font-family: Satisfy;
    }


    ul {
      position: fixed;
      width: 100vw;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-image: linear-gradient(rgba(128, 128, 128, 0.747), lightblue);
    }

    li a:hover {
      background-color: rgba(255, 255, 255, 0.322);
    }

    .active {
      background-color: rgba(173, 216, 230, 0.466);
    }


    /* {navbar css ends} */



  /* {grid css starts} */
  .grid {
    height: 163vh;
    width: 98vw;

    display: grid;

    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */

    grid-template-areas: 
      "header header"
      "heading heading"
      "container container"
      "main main2 ";

    grid-gap: 10px;

  

  }


    /* {grid css ends} */

/* {header} */
.header {
  grid-area: header;

}

/* {heading} */
.heading {
  height: 80px;
  width: 200px;
  grid-area: heading;

  
  /* margin-bottom: 60px; */
  margin-top: 70px;
  margin-left: 550px;
  margin-right: 550px;

  display: grid;

  align-items: center;

}

p {
  margin-left: 20px;

  font-size: 45px;
  font-family: NatureSpiritRegular;
}

 /* {container} */
 .container {
  height: 120px;
  width: 870px;

 
  grid-area: container;

  background-color: lightblue;
  margin-top: 80px;
  margin-left: 230px;
  /* margin-left: 170px; */

  display: grid;

  align-content: center;
}

p1 {
  font-family: Signika;
  font-size: 20px;

  margin-left: 10px;
  
}

/* {main} */

.main {
  grid-area: main;

  background-color: lightblue;

  height: 290px;
  width: 610px;

  margin-bottom: 220px;
  margin-left: 40px;
  margin-top: 120px;

  display: grid;

  align-content: center;
}

h2 {
  margin-left: 170px;
  font-family: Signika; 

}

p2 {
  margin-left: 10px;

  font-family: Signika;
  font-size: 18px;
}

/* {main2 } */

.main2 {
  margin-left: 170px;
  margin-top: 100px;
}


    /* {fonts for htmls starts} */

    @font-face {
      font-family: NatureSpiritRegular;
      src: url(../fonts/NatureSpiritRegular.otf)
    }

    @font-face {
      font-family: Signika;
      src: url(../fonts/Signika-Regular.ttf)
    }

    @font-face {
      font-family: Satisfy;
      src: url(../fonts/Satisfy-Regular.ttf)
    }

    @font-face {
      font-family: Balsamiq;
      src: url(../fonts/BalsamiqSans-Regular.ttf)
    }

    .Signika {
      font-family: Signika;
    }

/* {fonts for htmls ends} */